.input-card {
  width: 100%;
  /* border: 3px solid blue; */
  padding: 8px 0px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  background-color: #f4f0fa;
}
.form {
  /* border: 3px solid rgb(22, 11, 22); */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.control input {
  border-radius: 4px;
  padding: 10px 15px;
  border: 1px solid #ccc;
}
.control input:focus {
  background-color: #dbc6f4;
  outline: none;
}

.selectors select {
  border-radius: 4px;
  color: black;
  width: 100%;
  padding: 10px 15px;
  outline: none;
  border: 1px solid #ccc;
}
.selectors select:focus {
  background-color: #dbc6f4;
  outline: none;
}
.add-btn {
  display: flex;
  align-items: center;
}
